<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hostify{% endblock %}</title>
    <!-- Include CSS and JavaScript Files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout_view' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Hostify. All rights reserved.</p>
    </footer>
</body>
</html>
